@page "/ExerciseTypes"
@inherits ExerciseTypesBase


@if (ExerciseTypes == null)
{
    <h3>Trwa Ładowanie strony</h3>
}
else
{
    var exerciseTypes = new List<ExerciseTypeDto>();
    exerciseTypes = ExerciseTypes.ToList();


    <div class="row pt-5">
        <div class="table-responsive">
            <table class="table table-striped table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Rodzaj treningu</th>
                        <th>Opis treningu</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var types in exerciseTypes)
                    {
                        <tr>
                            <th>@types.Id</th>
                            <th>@types.Name</th>
                      
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}

@code {

}