@page "/"

<PageTitle>Index</PageTitle>
<body style="background-color: #2D2D30;"> 
    <h1 style="color: white">Witamy w aplikacji</h1>
<h2 style="color: white">Po lewej stronie znajdziesz listę możliwych opcji do wyboru</h2>

<p style="color: white">Aplikacja została stworzona z myślą o trenerach</p>

</body>


