@page "/powers"
@inherits ExerciseTypesBase


@if (ExerciseTypes == null)
{
    <h3 style="color:white">Trwa Ładowanie strony</h3>
}
else
{

    var power = new List<PowerDto>();


    power = Powers.ToList();


    <div class="row pt-5">
        <div class="table-responsive">
            <h2 style="color:white">Trening siłowy</h2>
            <table class="table table-striped table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th>Ćwiczenie</th>
                        <th>Opis ćwiczenia</th>
                        <th>Ilość powtórzeń</th>
                        <th>Ilość serii</th>

                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var powerExercise in power)
                    {
                        <tr>
                            <th>@powerExercise.Name</th>
                            <th>@powerExercise.Description</th>
                            <th>@powerExercise.Repeats</th>
                            <th>@powerExercise.Series</th>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}

@code {

}